body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 2px -2px gray;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    font-size: 14px;
}

.search-bar button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.box {
    background-color: #def3ff;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pet-consult {
    width: 20%;
}

.pet-advice {
    width: 40%;
}

.content {
    text-align: center;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lower-content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.placeholder {
    width: 15%;
    height: 100px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px -4px 2px -2px gray;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}